NODE_ENV=development

BASE_URL=http://localhost
PORT=3001
CORS_ORIGIN=http://localhost:5173

JWT_SECRET=your-jwt-secret-key
COOKIE_DOMAIN=localhost

DATABASE_URL="mysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"